<ion-header>
  <ion-toolbar>
    <ion-title>popover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3>Welcome to UseFairCoin</h3>
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
  ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld


</ion-content>
