<ion-header>
  <ion-toolbar>
    <ion-title>popover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-img src="/assets/myImg.png"></ion-img>
      <ion-card-header>
          <ion-card-title>Welcome to UseFairCoin</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld
        ssdlkfjslkdjflk fsld ljds flskd jfsd flksdf jlksd jflskdf jslkd ljskfldk fjlkdsf sld

      </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-auto text-left color=white>
          <p>Freedom can be easy with Cooperation<p>
        </ion-col>
        <ion-col col-2 text-right padding-top>
          <img src="/assets/imgs/icon.png" alt="Use Faircoin" width="35px" >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
