
ion-icon {
        font-size: 1.75rem; //Preferred size here
    }

ion-tab-bar{
  height: 8%;
  background-color: #ffffff;
}

ion-tab-button{
  background-color: #ffffff;
}


//ion-tab-button{
//  color: #283583;
//}

//sc-ion-tab-button-md-h{
//  background-color: #283583
//}
