<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Information</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h3>This software is a proof-of-concept on how to use a dettached UI which gets data from a backend via an API serving JSON.</h3>
<p>In this case we are displaying locations which accept Faircoins.</p>
<p>The backend is currently an independent OCP (valuenetwork (*)) install using GraphQL to serve the frontend, made in Ionic 4 which is great for mobile apps.</p>
<p>Here we display the GeoLocation of the user (you!) so you can easily find who accept Faircoins around you.</p>
<p>It's more recommended and reasonable to try it on your phone with GPS activated.</p>
<p>This was done in collaboration with several FairCoop members and is open for ideas, feature requests, pull requests (mostly!), and contributions (See contributors tab)</p>
<p>WARNING: this is alpha software and might not work well on every browser yet.</p>
<p>There is the option to build this as a mobile app, where GeoLocation works much more reliably than with regular browsers.</p>
<p>Source Code Repository</p>
<p><a href="https://git.aps.systems/rama/ufc-frontend" class="Internet_20_link">https://git.aps.systems/rama/ufc-frontend</a></p>
<p>(*) <a href="https://github.com/FreedomCoop/valuenetwork" class="Internet_20_link">https://github.com/FreedomCoop/valuenetwork</a></p>
</ion-content>
