
ion-searchbar{
  --background: rgba(255, 255, 255, 0.51);
  --icon-color:rgb(101, 135, 120);
  --color: rgb(101, 135, 120);
  --placeholder-color:rgba(9, 131, 73, 0.75);
  --placeholder-opacity: 0.5;
}

ion-card{
  --background: rgb(245, 255, 249);
}

ion-card-title{
  --color: rgb(101, 135, 120);
  --font-weight: 600 ;
}
ion-card-subtitle{
  --color: rgba(52,71,63,1);
}
