<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-title text-left>
          <img src="/assets/imgs/icon.png" alt="Use Faircoin" width="30px">
        </ion-title>
        <ion-col padding-horizontal>
          <ion-text padding-bottom text-right color="primary">
            <h4>Infomation</h4>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Description</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    This is a directory browser with geolocation to find locations accepting faircoins near you.
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <a href="mailto:info@usefaircoin.org" class="Internet_20_link">info@usefaircoin.org</a>
  </ion-card-content>
  </ion-card>


<ion-card>
    <ion-card-header>
      <ion-card-title>Info</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <div>
      <p>Source Code Repository</p>
      <p><a href="https://github.com/Xicnet/geodir" class="Internet_20_link">https://github.com/Xicnet/geodir</a></p>

      <p>Produced by <a href="https://fair.coop/">
          Fair.coop
        </a>
      </p>
    </div>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Licenced under GPL 3.0</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <a href="https://www.gnu.org/licenses/gpl-3.0.txt">https://www.gnu.org/licenses/gpl-3.0.txt</a>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contibutors</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
    Bumbum
  </ion-item>
  <ion-item>
    Onix
  </ion-item>
  <ion-item>
    Lynn Foster
  </ion-item>
  <ion-item>
    Oncle Phil
  </ion-item>
  <ion-item>
    Bernini
  </ion-item>
  <ion-item>
    Rama
  </ion-item>
  <ion-item>
    Apardo
  </ion-item>
  <ion-item>
    Trid
  </ion-item>
  <ion-item>
    Albert Isern Alvarez
  </ion-item>
    </ion-list>
  </ion-card>

</ion-content>


<!-- pruebas configuraciones de usuarios-->