<ion-header>
  <ion-toolbar>
    <ion-list-header>
      <h1>Contributors</h1>
    </ion-list-header>
  </ion-toolbar>
</ion-header>
<ion-item>
  Bumbum
</ion-item>
<ion-item>
  Onix
</ion-item>
<ion-item>
  Lynn Foster
</ion-item>
<ion-item>
  Oncle Phil
</ion-item>
<ion-item>
  Bernini
</ion-item>
<ion-item>
  Rama
</ion-item>
<ion-item>
  Apardo
</ion-item>
<ion-item>
  Trid
</ion-item>
<ion-content text-center padding>
  <a href="https://fair.coop/"><img src="/assets/imgs/faircoop_color.png" alt="Faircoop" height="80px" ></a>
</ion-content>
