// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

* {
  /* Avoid "Will-change memory consumption is too high..." warning */
  will-change: unset!important;
}


/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #5361b9;
  --ion-color-primary-rgb: 83, 97, 185;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3f4a8d;
  --ion-color-primary-tint: #283583;

  /** secondary **/
  --ion-color-secondary: #283583;
  --ion-color-secondary-rgb: 40, 53, 131;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #15216a;
  --ion-color-secondary-tint: #2d41b5;

  /** tertiary **/
  --ion-color-tertiary: #5f6c97;
  --ion-color-tertiary-rgb: 95, 108, 151;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3f4c75;
  --ion-color-tertiary-tint: #918bb8;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #283583;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-toolbar {
  --background: ;  //url('/assets/imgs/fond.svg') bottom no-repeat;
}
ion-tab-bar {
  --background: ;  // url('/assets/imgs/fond2.svg') bottom no-repeat;
}

ion-popover{
  ion-backdrop{
    opacity: 0.5 !important;
  }
  //.popover-wrapper{
  //  .popover-content{
  //    width:auto;
  //  }
  //}
}

.custom-popover-off {
  width: 80%;
  top: 70px;
  left: 30px;
  //bottom: 70px
}

.modal-smaller {
  --width: 80%;
}

.nl2br {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

div.scrollable {
  overflow: scroll
}

.card-footer-links ion-icon {
  font-size: 1.8em; //Preferred size here
}

ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 5px !important;
}

// Configuration used in all the app
ion-content{
  --background-color: #FFFFFF;
  --background-attachment: fixed;
  --background-size: cover;
}

.updated-date ion-text {
  font-size: 0.8em;
}

ion-text.version {
  font-size: 0.8em;
}

ion-searchbar {
  padding: 0;
  margin: 0;
  height: 38px;
}