ion-searchbar {
  --background: rgba(255, 255, 255, 0.51);
  --icon-color:rgb(101, 135, 120);
  --color: rgb(101, 135, 120);
  --placeholder-color:rgba(9, 131, 73, 0.75);
  --placeholder-opacity: 0.5;
}

.sc-ion-card-md-h {
    --background: var(--ion-item-background,transparent);
    --color: var(--ion-color-step-550,#737373);
    margin: 20px 0 !important;
    border-radius: 0;
    font-size: 14px;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

page-home {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
