<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col float-left>
        <img src="/assets/imgs/icon.png" alt="Use Faircoin" width="30px">
      </ion-col>
      <ion-col size="11" float-right>
        <ion-searchbar [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Search FairCoin Locations"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-row padding *ngIf="(items$ | async)?.length==0">Nothing found, try another search.</ion-row>
  <ion-virtual-scroll [items]="items$ | async">
    <ion-item *virtualItem="let item">

      <ion-card>
        <ion-row justify-content-start>
          <ion-thumbnail item-start (click)="openLink($event, 'https://use.fair-coin.org/wp/wp-admin/post.php?action=edit&post='+item.properties.id)">
            <ion-img [src]="item.properties.image || 'assets/imgs/default.png'" alt="Use Faircoin"></ion-img>
          </ion-thumbnail>
          <ion-col size="10">
            <ion-card-title [innerHTML]="item.properties.name"></ion-card-title>
            <ion-card-subtitle>
              <ion-text *ngIf="item.geometry.distance" color="primary">~{{item.geometry.distance}} km</ion-text>
              {{item.properties.address}}
            </ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row (click)="openModal(item)">
          <ion-card-content [innerHTML]="(item.properties.description.length>200)? (item.properties.description | slice:0:200)+'..':(item.properties.description)">
          </ion-card-content>
        </ion-row>

        <ion-row>
          <ion-button title="See on map" (click)="geoZoom(item.properties.id)">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-button>
          <ion-button title="Get directions" (click)="openNavigator($event, item.properties.address)">
            <ion-icon slot="icon-only" name="compass"></ion-icon>
          </ion-button>
          <ion-button title="More info" (click)="openModal(item)">
            <ion-icon slot="icon-only" name="information-circle"></ion-icon>
          </ion-button>
          <ion-button title="Call now" [disabled]="!item.properties.phone" (click)="openLink($event, 'tel:'+item.properties.phone)">
            <ion-icon slot="icon-only" name="call"></ion-icon>
          </ion-button>
          <ion-button title="Open website {{item.properties.website}}" [disabled]="!item.properties.website" (click)="openLink($event, item.properties.website)">
            <ion-icon slot="icon-only" name="globe"></ion-icon>
          </ion-button>
          <ion-button title="Open twitter {{item.properties.twitter}}" [disabled]="!item.properties.twitter" (click)="openTwitter($event, item.properties.twitter)">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
          </ion-button>
          <!--
          <ion-button title="Edit" (click)="openLink($event, 'https://use.fair-coin.org/wp/wp-admin/post.php?action=edit&post='+item.properties.id)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          -->
        </ion-row>





      </ion-card>
    </ion-item>
  </ion-virtual-scroll>

</ion-content>
