<ion-header>
  <ion-toolbar>
    <ion-searchbar mode="md"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content text-center padding>
  <ion-list-header color="tertiary">
    <h1>Listings</h1>
  </ion-list-header>

  <ion-searchbar [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.properties.image || 'assets/imgs/default.png'"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.properties.name}}</ion-label>
      <br/>
      {{ (item.properties.description.length>200)? (item.properties.description | slice:0:200)+'..':(item.properties.description) }}
    </ion-item>
  </ion-list>
</ion-content>
