<ion-header>
  <ion-toolbar (click)="closeModal()">
    <ion-title style="float: left; vertical-align: center" [innerHTML]="item.properties.name">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-item>
      <ion-card-title (click)="closeModal()">
        {{item.properties.name}}
      </ion-card-title>
    </ion-item>

    <ion-item>
      <ion-card-subtitle (click)="closeModal()">
        <ion-text *ngIf="item.geometry.distance" color="primary">~{{item.geometry.distance}} km</ion-text>
        {{item.properties.address}}
      </ion-card-subtitle>
    </ion-item>

    <ion-item *ngIf="item.properties.address">
      <ion-button fill="clear" style="text-transform: none;" title="Get directions" (click)="openNavigator($event, item.properties.address)">
        <ion-icon slot="start" name="compass"></ion-icon>
        Get directions
      </ion-button>
    </ion-item>

    <ion-item *ngIf="item.properties.hours">
      <ion-icon name="time"></ion-icon>
      <ion-row>
        <ion-col>
          {{item.properties.hours}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="item.properties.website">
      <ion-button fill="clear" style="text-transform: none;" title="Open website" (click)="openLink($event, item.properties.website)">
        <ion-icon slot="start" name="globe"></ion-icon>
        {{item.properties.website}}
      </ion-button>
    </ion-item>

    <ion-item *ngIf="item.properties.twitter">
      <ion-button fill="clear" style="text-transform: none;" title="Open twitter {{item.properties.twitter}}" (click)="openLink($event, item.properties.twitter)">
        <ion-icon slot="start" name="logo-twitter"></ion-icon>
        {{item.properties.twitter}}
      </ion-button>
    </ion-item>

    <ion-item *ngIf="item.properties.faircoin_address">
      <ion-button fill="clear" style="text-transform: none;" title="">
        <ion-icon slot="start" name="heart"></ion-icon>
        {{item.properties.faircoin_address}}
      </ion-button>
    </ion-item>

    <ion-item *ngIf="item.properties.phone">
      <ion-button fill="clear" style="text-transform: none;" title="Call now" (click)="openLink($event, 'tel:'+item.properties.phone)">
        <ion-icon slot="start" name="call"></ion-icon>
        {{item.properties.phone}}
      </ion-button>
    </ion-item>

    <ion-item no-padding>
      <ion-card-content class="nl2br" padding-top (click)="closeModal()" [innerHTML]="item.properties.description"></ion-card-content>
    </ion-item>

    <ion-item>
      <div>updated on {{ item.properties.updated }}</div>
    </ion-item>
    <ion-img (click)="closeModal()" [src]="item.properties.image || 'assets/imgs/default.png'" alt="Use Faircoin"></ion-img>

  </ion-card>
</ion-content>